.bg-slate-300 {
  background-color: #d5e1ef;
}

.font-slate-300 {
  color: #d5e1ef;
}

.bg-slate-900 {
  background-color: #1f314f;
}

.font-slate-900 {
  color: #1f314f;
}

.bg-slate-500 {
  background-color: #68778d;
}

.font-slate-500 {
  color: #68778d;
}

.bg-slate-white {
  background-color: #fff;
}

.font-slate-white {
  color: #fff;
}
